.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Stream && Player */
#media-container {
  position: relative;
  /* border: cornflowerblue 2px solid; */
}

.player-wrapper {
  display: inline-block;
  padding: 5px;
}

.no-media {
  --noMedia-height: 175px;

  display: inline-block;
  overflow: hidden;
  
  color: white;
  text-align: center;
  line-height: var(--noMedia-height);
  height: var(--noMedia-height);
  width: calc(var(--noMedia-height)*16/9);
}

.no-source {
  background-color: black; 
}

.hidden-media {
  background-color: lightgray;
  color: black;
}

#stream-controllers {
  padding-bottom: 18px;
}

#playback-controller {
  padding: 20px 0 50px 0;
}

.controller-row > td {
  padding: 0;
  margin: 0;
  text-align: center;
}

button.controller {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input[type=checkbox] {
  padding: 0;
  margin: 0;
}

input[type=checkbox], button.controller, .controller-row > td {
    font-size: 12px;
}