/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------------------------------------------- Media Player */
#stream-view-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #d3d3d3;
  padding: 50px 20px;
}

.player-wrapper {
  padding: 20px 10px;
}

.player-container {
  position: relative;
}

.no-file {
  --noFile-height: 200px;

  z-index: 999999;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: var(--noFile-height);
  height: var(--noFile-height);
  width: calc(var(--noFile-height)*16/9);
}

.no-media, .speaker_img {
  --noMedia-height: 200px;

  display: inline-block;
  overflow: hidden;

  /* color: white; */
  text-align: center;
  line-height: var(--noMedia-height);
  height: var(--noMedia-height);
  width: calc(var(--noMedia-height)*16/9);
  color: black;
  border: whitesmoke;
  border-style: dotted;
  border-width: 2px;
}

.no-source {
  background-color: black;
}

.hidden-media {
  background-color: lightgray;
  color: black;
  border: black;
  border-style: dotted;
  border-width: 2px;
}

div[id^='panner-container'], div[id^='gain-container']{
  font-size: small;
}

div.player-wrapper > div[id^='player-'] {
  height: 200px;
}

/* ---------------------------------------------- Focus Stream */
#focus-stream {
  display: flex;
  padding: 100px;

}

.focus-player-wrapper > div[id^='player-'] {
  height: 400px;
}

/*---------------------------------------------- Timeline Display */
#timeline-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

#timelines {
  /* display: inline-block; */
}

#slider-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-value-display {
  text-align: center;
}

#timeline-tooltip {
  padding: 10px;
  background-color: black;
  color:white;
  opacity: 0.75;
  position: absolute;
  visibility: hidden;
  z-index: 9999;
}

table.range-table {
  font-size: small;
}

td.range-pre-label {
  text-align: right;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}



/* ---------------------------------------------- Timeline Controls */
table {
  white-space: nowrap;
}

#stream-controllers {
  padding-bottom: 24px;
  /* display: inline-block; */
}

.controller-row > td {
  padding: 0;
  margin: 0;
  text-align: center;
}

button.controller {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input[type=checkbox] {
  padding: 0;
  margin: 0;
}

input[type=checkbox], button.controller, .controller-row > td {
    font-size: 12px;
}



/* ---------------------------------------------- Playback controls */
#playback-controller {
  padding: 20px 0 50px 0;
}




/* ---------------------------------------------- Query controller */
#query-builder {
  padding: 20px 0px;
}













/*////////////////////////////*/
/* native input sliders preset for multiple browsers*/
input[type=range]:disabled::-webkit-slider-runnable-track {
  background: #6e6e6e;
}
input[type=range]:disabled::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #6e6e6e;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #b9b9b9;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range] {
  /* height: 25px; */
  -webkit-appearance: none;
  /* margin: 10px 0; */
  /* width: 100%; */
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /* width: 100%; */
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  /* width: 100%; */
  /* height: 5px; */
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  /* height: 18px; */
  /* width: 18px; */
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  /* width: 100%; */
  /* height: 5px; */
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  /* height: 18px; */
  /* width: 18px; */
  /* border-radius: 25px; */
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}
/*////////////////////////////*/
